// Layout

body {
	background: $dark-gray-90;
	margin: 0;
	padding: 0;
}

.app-content {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
	padding: 20px 40px;
}