// Typography

* {
	font-family: 'Work Sans', Helvetica, sans-serif;
}

.no-margin { margin: 0; }

h1 { @extend .no-margin; font-size: 26px; }

h2 { @extend .no-margin; font-size: 22px; }

h3 { @extend .no-margin; font-size: 18px; }

h4 { @extend .no-margin; font-size: 14px; }

h5 { @extend .no-margin; font-size: 12px; }

.font-14 { font-size: 14px; }
.font-12 { font-size: 12px; }
.font-10 { font-size: 10px; }

.font-bold { font-weight: 700; }
.font-regular { font-weight: 400; }
.font-thin { font-weight: 300; }

.blue-font { color: $blue-4; }
.orange-font { color: $orange-4; }
.mid-gray-font { color: $mid-gray; }
.light-gray-font { color: $light-gray; }