// Header styles

header {
	background: $dark-gray;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	padding: 0 40px;

	.marvin-title{
		@include white-to-blue-gradient();
		font-weight: 300;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 3px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.header-toolbar {

	}
}